body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
    padding: 0 1rem;
}

nav .brand-logo {
    left: 0;
}

.content {
    min-height: calc(100vh - 70px - 56px);
    padding: 1.5rem 0;
}


.goods {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    column-gap: 15px;
}

.card {
    display: flex;
    flex-direction: column;
}

.card-action {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.cart {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: flex;
    align-items: center;

    cursor: pointer;
    z-index: 5;
    padding: 1rem;
    color: #fff;
    border-radius: 80px;
}

@media (min-width: 767px) {
    .cart {
        top: 5rem;
        bottom: unset;
    }
}

.cart-quantity {

}

.cart-list {
    position: fixed;
    z-index: 9;
    width: 50rem;
    max-width: 95%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    border: 2px solid #000;
    animation: show 0.5s ease-in-out;
}

.cart-heading {
    position: relative;
}

.cart-heading i {
    position: absolute;
    right: .5rem;
}
.collection-item {
    user-select: none;
    text-align: left;
}

.cart-list .collection-item i {
    cursor: pointer;
}


.collection-item.checkout {
    display: flex;
    justify-content: flex-end;
}

.cart-qty {
    cursor: pointer;
    vertical-align: middle;
    color: #26a69a;
    font-size: 16px;
    border: 1px solid #26a69a;
    margin: 0 3px;
}

#toast-container {
    top: 3rem!important;
    right: 1rem;
    left: auto;
    animation: fade-in .25s ease-in-out ;
}


@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(2rem);
    }
    to {
        opacity: 1;
        transform: translateY(0rem);
    }
}

@keyframes show {
    from {
        top: 70%;
        opacity: 0;
    }
    to {
        top: 50%;
        opacity: 1;
    }
}